<ion-view view-title="Dashboard">
  <ion-content class="padding text-center">
    <h2>Home</h2>
    <p>
    This is the demo ionic app "tabs" where we add a simple button to launch cometchat API.
    </p>
    <p>
     All interesting source code are located in controller.js.
     ReadyUI is initialized in app.js on app loading
    </p>
    <p>
    You need to launch it from a device or simulator that includes Cordova (so using <b>ionic serve</b> will not work)
    </p>
    <br/>
     <center>
         <button ng-click="launchComet()">Launch cometchat</button>
     </center>
  </ion-content>
</ion-view>
